.vs/
Kangaroo.vcxproj.user
Kangaroo.vcxproj.user
Kangaroo.vcxproj.user
Kangaroo.VC.opendb
Kangaroo.sdf
vc140.pdb
x64/
obj/
.idea/
CMakeLists.txt
kangaroo
cmake-build-debug/
*.prf

# Windows MSVC/nvcc build output (build_cpu.bat / build_gpu.bat)
objgpu/
*.obj
*.exe

# run artifacts
*.kcp
*.log
